/* --------------- reset --------------- */

* {
   padding: 0;
   border: 0;
   margin: 0;
}

/* --------------- colors --------------- */

:root {
   --gray-light: #eee; /*rgb(238, 283, 238)*/
   --winter: #4c92ff; /*rgb(76, 146, 255)*/
   --spring: #c4ee86; /*rgb(196, 238, 134)*/
   --summer: #ffe618; /*rgb(255, 230, 24)*/
   --autumn: #e17719; /*rgb(225, 119, 25)*/
}

/* --------------- answer box --------------- */

.answer-box {
   position: relative;
   float: left;
   width: 200px;
   height: 100px;
   text-align: center;
   line-height: 100px;
   background: var(--gray-light);
   margin: 0 10px 10px 0;
}

/* --------------- tabs --------------- */

.tab-corner {
   position: absolute;
   width: 40px;
   height: 40px;
}

.tab-top-left {
   top: 0;
   left: 0;
   border-radius: 0 0 40px 0;
}

.tab-top-right {
   top: 0;
   right: 0;
   border-radius: 0 0 0 40px;
}

.tab-bottom-right {
   right: 0;
   bottom: 0;
   border-radius: 40px 0 0 0;
}

.tab-bottom-left {
   bottom: 0;
   left: 0;
   border-radius: 0 40px 0 0;
}

#spring {
   display: none;
   background: var(--spring);
}
#summer {
   display: none;
   background: var(--summer);
}
#autumn {
   display: none;
   background: var(--autumn);
}
#winter {
   display: none;
   background: var(--winter);
}
